::root{
    --ff-primary:Heebo,sans-serif;
    --ff-secondary:Bungee,cursive;
    --ff-accent:Bungee Shade,cursive;
}

*,
*::before
*::after{
    box-sizing: border-box;
}

body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{
    margin:0;
}
h1,h2,h3,h4{
    font-family: var(--ff-secondary);
}

ul[role="list"],
ol[role="list"]{
    list-style: none;
}

html:focus-within{
    scroll-behavior:smooth;
}

body{
    min-height:100vh;
    text-rendering:optimizeSpeed;
    line-height: 1.5; 
}

a:not([class]){
    text-decoration-skip-ink: auto;
}

img,
picture{
    width:100%;
    display: block;
}

input,button,textarea,
select{
    font:inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
body {
font-family: var(--ff-primary);
font-size: 1rem;
/* for demo purposes only */
padding: 2rem 0;
}



.container{
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

.stacked{
    display: grid;
}

.stacked >*{
    grid-column: 1/2;
    grid-row: 1/2;
}

.product-grid{
    display: grid;
    gap: .25rem;
    grid-template-columns: 
    repeat(auto-fit,minmax(15rem,1fr));
}

 .card{
     aspect-ratio: 1/1.5;
     
 }

 .card_content{
     background: white;
     align-self: end;
     margin: 0.5rem .5rem 2rem;
     padding: .5rem;
     box-shadow: 0 0.25rem 1rem rgb(0 0 0 /.1);
 }

 .card_title{
     font-size: 1.2rem;
     line-height: 1.1;
     color: firebrick;
 }

 .card_price{
     font-size: 1rem;

 }
 .card_img{
     width: 100%;
     aspect-ratio:1/1;
     object-fit: cover;
 }

 @media(min-width:40em)
 {
    .card.featured{
        grid-row: span 2;
        grid-column: span 2;
   
    }
   
    .card.featured .card_img{
        aspect-ratio: 1/1.25;
   
    }
 }